.logInBtn {
  width: 100px;
  height: 35px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  background-color: #1A1818;
  color: white;
}